.container{
background-color: black;
display: inline-block;
width: auto;
height: auto;
padding: 10px;
font-size: 60px;
line-height: 60px;
color:white
}

.container div {
    padding:10px;
    font:30px;
    border: solid 1px white;
    color:white;
    border-radius: 10px;
    margin: 5px;
}